# vim: ft=ruby
# keep-sorted start prefix_order=tap,brew,cask,mas
tap "anomalyco/tap"
tap "hashicorp/tap"
tap "nikitabobko/tap"
brew "age"
brew "anomalyco/tap/opencode"
brew "ansible"
brew "bat"
brew "btop"
brew "chezmoi"
brew "container"
brew "direnv"
brew "eza"
brew "fastfetch"
brew "fd"
brew "gh"
brew "git-delta"
brew "go"
brew "hashicorp/tap/terraform"
brew "helm"
brew "helmfile"
brew "just"
brew "keep-sorted"
brew "kubernetes-cli"
brew "lazygit"
brew "mas"
brew "mole"
brew "mtr"
brew "neovim"
brew "node"
brew "ripgrep"
brew "shfmt"
brew "sops"
brew "stylua"
brew "swiftformat"
brew "tmux"
brew "tpm"
brew "treefmt"
brew "zinit"
brew "zoxide"
cask "cryptomator"
cask "font-maple-mono"
cask "font-sf-mono"
cask "font-sf-pro"
cask "ghostty"
cask "helium-browser"
cask "homebrew-app"
cask "lulu"
cask "nikitabobko/tap/aerospace"
cask "orbstack"
cask "signal"
cask "sketch"
cask "vesktop"
mas "Actions", id: 1586435171
mas "WhatsApp", id: 310633997
mas "WireGuard", id: 1451685025
# keep-sorted end
# {{- if eq .chezmoi.hostname "raven" }}
# keep-sorted start prefix_order=tap,brew,cask,mas
cask "crossover"
cask "prismlauncher"
cask "steam"
cask "xcodes-app"
mas "HazeOver", id: 430798174
mas "Klack", id: 6446206067
mas "Pixelmator Pro", id: 6746662575
# keep-sorted end
# {{- end }}
